.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "ccsignlanguage", sans-serif;
  padding: 0;
  margin: 0;
}

.board {
  width: 500px;
  height: 500px;
  background-color: rgb(153, 145, 215);
  border: 10px solid rgb(37, 30, 131);
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display:flex;
  flex-direction: row;
  border: 2px solid rgb(37, 30, 131);
}

.square {
  flex: 33%;
  height:100%;
  border: 2px solid rgb(37, 30, 131);
  cursor:pointer;
  display: grid;
  place-items:center;
  font-size: 100px;
  color: rgb(37, 30, 131);
}

.square:active {
  background-color: darkgrey;
}